@tailwind base;
@tailwind components;
@tailwind utilities;

.page{
  @apply container mx-auto flex flex-col items-center  p-4;
}
.pagination{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.pagination__button{
  @apply my-4 mx-2 inline-flex items-center border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus-visible:ring-2 focus:ring-offset-2 focus:ring-gray-500;
  padding: 14px 25px;
}
.pagination__button:disabled{
  @apply bg-gray-400
}
.filter__input{
  @apply p-2 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md;
  border: #e7e7e7 1px solid;
}
.tickers__list{
  @apply mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3;
}
.hr{
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  border-top-width: 2.5px;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card{
  @apply bg-white overflow-hidden shadow rounded-lg outline-purple-800 outline-4 cursor-pointer;
}
.card__subtitle{
  @apply px-4 py-5 sm:p-6 text-center;
}
.card__name{
  @apply text-sm font-medium text-gray-500 truncate;
}
.card__course{
  @apply mt-1 text-3xl font-semibold text-gray-900;
}
.card__line{
  @apply w-full border-t border-gray-200;
}
.card__button{
  @apply flex items-center justify-center font-medium w-full bg-gray-100 px-4 py-4 sm:px-6 text-gray-500 hover:bg-slate-200 transition-all outline-none focus-visible:bg-slate-200;
}


.diagram__title{
  @apply text-lg leading-6 font-medium text-gray-900 my-8;
}
.diagram__colums{
 @apply flex items-end border-gray-600 border-b border-l h-64;
}
.diagram__close{
  @apply absolute top-0 right-0;
}



.dashboard__row{
  gap: 30px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.dashboard__currencies{
}

.dashboard__currency{
  @apply inline-flex hover:bg-gray-400 items-center  m-1 rounded-md text-xs font-medium bg-gray-300 text-gray-800 cursor-pointer;
  flex-wrap: nowrap;
  margin-top: 11px;
  padding: 8px;
}
.dashboard__label{
  @apply block text-sm font-medium text-gray-700;
}
.dashboard__input-wrapper{
  @apply mt-1 relative rounded-md shadow-md;
}
.dashboard__input{
  @apply block p-2.5 w-full pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md;
}
.dashboard__hint{
  @apply flex bg-white shadow-md p-1 rounded-md shadow-md flex-wrap;
}
.dashboard__hints{
  @apply inline-flex p-1 hover:bg-gray-400 items-center px-2 m-1 rounded-md text-xs font-medium bg-gray-300 text-gray-800 cursor-pointer;
}
.dashboard__text-error{
  @apply text-sm font-medium text-red-700;
}
.dashboard__button{
  @apply focus-visible:ring-2 focus:ring-offset-2 focus:ring-gray-500 my-4 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 transition-colors duration-300 focus:outline-none hover:bg-gray-500;
}


.reload{
  @apply fixed opacity-80 bg-black inset-0 z-50 flex items-center justify-center;
}
.reload__circle{ 
  @apply animate-spin -ml-1 mr-3 h-12 w-12 text-white;
}
